html,body{
	padding:0;
	margin:0;
	overflow:hidden;
	height:100%;
	width:100%;
}
body{
	background-color:rgb(41,23,125);
	background:url("bg.png") no-repeat;
	background-size:100% 100%;
	font-family: 'Raleway', sans-serif;
	color:#fff;
}
a{
	text-decoration:none;
	color:#fff;
}
.navbar{
	margin:30px;
	border-bottom:1px solid #fff;
}
.navbar .logo{
	float:left;
	font-weight:bold;
	font-size:24px;
	padding:20px;
}
.navbar .nav{
	float:left;
	margin-left:calc(50% - 400px);
}
.navbar .nav li{
	float:left;
	font-family: 'Raleway', sans-serif;
	list-style:none;
	margin-left:30px;
	padding:10px;
}
.navbar .nav .active{
	font-weight:900;
}
.clearfix{
	padding:0;
	margin:0;
	clear:both;
}
.container{
	margin:50px;
}
.intro{
	float:left;
	width:calc(60% - 50px);
	margin-left:10%;
	padding-top:80px;
}
.intro h1{
	font-size:42px;
	font-weight:200 !important;
}
.intro p{
	display:block;
	margin-bottom:20px;
}
.intro .more{
	margin-top:20px;
	display:block;
}
.intro .more a{
	padding:15px;
}
.intro .more .btn{
	border:1px solid #fff;
	border-radius:50px;
}
.preview{
	float:left;
	width:calc(30% - 50px);
}
.preview img{
	width:200px;
	height:400px;
}
.chat_box{
	padding:0;
}
.chat_bubble{
	list-style:none;
	margin:20px;
	margin-left:0;
	height:50px;
}
.chat_bubble span{
	padding:20px;
	background:#fff;
	height:50px;
	border-radius:30px;
	color:#000;
	display:none;
	transition:1s linear all;
}
.chat_input{
	height:20px;
	width:50%;
	background:#fff;
	outline:none;
	border:none;
	border-radius:30px;
	color:#000;
	padding:20px;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
}
.chat_send{
	background:rgba(0,0,0,0.7);
	outline:none;
	border:none;
	border-radius:30px;
	padding:20px;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	color:#fff;
	cursor:pointer;
	margin-left:20px;
}
@media screen and (max-width:600px){
	html,body{
		overflow:auto !important;
	}
	.navbar .nav{
		display:none;
	}
	.intro{
		float:none;
		width:100%;
		margin:5%;
		padding-top:20px;
	}
	.preview{
		float:none;
		width:100%;
		margin:5%;
	}
	.preview img{
		width:200px;
		height:350px;
	}
	.intro *{
		display:block !important;
	}
	.chat_bubble{
		height:auto;
	}
	.chat_bubble span{
		padding:20px;
		height:20px;
		visibility:hidden;
	}
	.chat_input{
		width:80%;
		margin-bottom:20px;
	}
}